{% extends "food_cordoba/base.html" %}

{% block main %}
<ul>
    <br>
    <h1>Lista de mensajes</h1>

    {% if not mensajes %}
        <h1>No hay mensajes aun.</h1>
    {% endif %}

    <br>
    {% for mensaje in mensajes  %}
    <li> 
        <p>{{mensaje.email}}</p>
        <br>
        {{mensaje.mensaje}} 
        {% if user.is_authenticated and mensaje.destinatario == user %}
            <a href="{% url 'mensaje-delete' mensaje.id %}" > Borrar</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}