{% extends "food_cordoba/base.html" %}

{% block main %}
<ul>
    <br>
    <h1>Lista de posteos</h1>

    {% if not object_list %}
        <h1>No hay posteos aun.</h1>
    {% endif %}


    {% for post in object_list  %}
    <li>
        {{post}} 
        <a href="{% url 'post-detail' post.id %}" > Detalle</a>
        {% if user.is_authenticated and post.publicador == user %}
            <a href="{% url 'post-update' post.id %}" > Actualizar</a>
            <a href="{% url 'post-delete' post.id %}" > Borrar</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}